@import 'variables.scss';

body {
  background: $primary-color;
  color: $secondary-color;
}

.blog-entry {
  background: $secondary-color;
  color: $primary-color;

  h1 {
    color: $primary-color;
  }

  p {
    font-size: 120%;
  }
}

a {
  color: $primary-complement;

  &:hover {
    color: $primary-lighter;
  }
}
