$primary-color: #090;
$secondary-color: #FFF;
$complement-primary: complement($primary-color);
$lighter-primary: lighten($primary-color, 20%);

body {
    background: $primary-color;
    color: $secondary-color;
}

.blog .entry {
    background: $secondary-color;
    color: $primary-color;
    h1 {
        color: $primary-color;
    }

    p {
        font-size: 120%;
        html.csscolumns & {
            column-count: 2;
            column-gap: 10px;
            margin: 10px;
        }
    }
}

a {
    color: $complement-primary;
    &:hover {
        color: $lighter-primary;
    }
}
