@import 'variables.scss';

body {
  background: $primary-color;
  color: $secondary-color;
}

.blog-entry {
  background: $secondary-color;
  color: $primary-color;
}

.blog-entry h1 {
  color: $primary-color;
}

.blog-entry p {
  font-size: 120%;
}

a {
  color: $primary-complement;
}

a:hover {
  color: $primary-lighter;
}
